name: Compile and Release

on:
  push:
    branches: master

jobs:
  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    if: "!contains(github.event.head_commit.message, '[ci]')"

    steps:
      - uses: actions/checkout@v3

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: "Discord Redux ${{ needs.build.outputs.PLUGIN_VERSION }}"
          path: release_artifacts

      - name: Install zip
        uses: montudor/action-zip@v1

      - name: Zip output
        run: |
          zip -qq -y -r ${{ github.event.repository.name }}-${{ needs.build.outputs.PLUGIN_VERSION }}.zip release_artifacts
        working-directory: ${{ github.workspace }}

      - name: Create Release
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: v${{ needs.build.outputs.PLUGIN_VERSION }}
          artifacts: "./${{ github.event.repository.name }}-${{ needs.build.outputs.PLUGIN_VERSION }}.zip"
          body: "${{ needs.build.outputs.PLUGIN_VERSION }}"
          draft: false
          allowUpdates: true
          prerelease: false
          replacesArtifacts: true
